/* ### Primary

- Moderate blue: hsl(238, 40%, 52%)
- Soft Red: hsl(358, 79%, 66%)
- Light grayish blue: hsl(239, 57%, 85%)
- Pale red: hsl(357, 100%, 86%)

### Neutral

- Dark blue: hsl(212, 24%, 26%)
- Grayish Blue: hsl(211, 10%, 45%)
- Light gray: hsl(223, 19%, 93%)
- Very light gray: hsl(228, 33%, 97%)
- White: hsl(0, 0%, 100%)

## Typography

### Body Copy

- Font size (paragraph): 16px

### Font

- Family: [Rubik](https://fonts.google.com/specimen/Rubik)
- Weights: 400, 500, 700 */

:root{
    --moderate-blue: hsl(238, 40%, 52%);
    --soft-red: hsl(358, 79%, 66%);
    --light-grayish-blue: hsl(239, 57%, 85%);
    --pale-red: hsl(357, 100%, 86%);
    --dark-blue: hsl(212, 24%, 26%);
    --Grayish-blue: hsl(211, 10%, 45%);
    --Light-gray: hsl(223, 19%, 93%);
    --very-light-gray: hsl(228, 33%, 97%);
    --white: hsl(0, 0%, 100%);
}
body{
    background-color: var(--very-light-gray);
}

html{
    font-family: 'Rubik', sans-serif;
}


.main-container{
    /* border: 1px solid black; */
    height: 950px;
    width: 60%;
    margin: auto;
    padding-top: 1%;
}
.comment-box{
    background-color: var(--white);
    width: 60%;
    margin: auto;
    /* border: 2px solid red; */
    height: 20%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 55px;
    border-radius: 25px;
    margin-bottom: 10px;

}
.like-box{
    height: 80%;
    /* border: 2px solid black; */
    flex: 1;
    font-size: 30px;
    /* background-color: var(--light-grayish-blue); */
}
.like-box div, .like-count{
    margin: 10px;
    text-align: center;
    /* border: 1px solid black; */
}
.user-cmt-box{
    height: 80%;
    /* border: 2px solid black; */
    flex: 9;
}
.user-detail-box, .user-name-box, .img-name-date-box{
    display: flex;
    gap: 10px;
    /* justify-content: center; */
    align-items: center;
    justify-content: space-between;
    
}
.user-detail-box{
    padding: 0px 10px;
    /* border: 2px solid red; */
}
.month-ago{
    color: var(--dark-blue);
}
.user-cmt{
    color: var(--dark-blue);
    line-height: 30px;
}
